body {
  background: #D4D9DD;
  position: relative;
  margin: 0 auto;
  width: 1200px;
  box-sizing: border-box;
}

h1.error {
  font-size: 1.4em;
  line-height: 1.2;
  color: #d44;
  background: #ebb;
  padding: 5px 10px;
  box-shadow: 2px 2px 4px 0px rgba(200,75,75,0.75);
  border-radius: 4px 4px 0 0 ;
  border-bottom: none;
  margin-bottom: 0;
}

.toc {
  font-size: 0.88rem;
  color: #99a;
}

.toc:hover {
  color: #333;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre.error {
  border-radius: 0 0 4px 4px;
  border-top: none;
}

.error {
  border: 1px solid #d44;
}

table {
  width: 100%;
  box-shadow: 3px 3px 2px #888;
  margin-bottom: 1.25em;
}

table tbody tr:nth-child(odd) {
  background-color: #eff5f9;
}

table tbody tr:nth-child(even) {
  background-color:#fff;
}

table td {
  vertical-align: middle;
  text-align: left;
  padding: 10px;
}

table th {
  padding: 0 0 3px 10px;
}

table td, table th {
  border: solid #699aca;
  border-width: 0 1px;
}

table td:first-child, table th:first-child,
table td:last-child, table th:last-child {
  border: none;
}

table td:nth-child(1) {
  width: 140px;
}

table td:nth-child(2) {
  width: 400px;
}

table thead tr {
  border-bottom: 4px solid #699aca;
  text-align: center;
  font-weight: 400;
}

td p {
  margin: 10px 0;
}

.container {
  background: #fff;
  box-shadow: 2px 2px 2px 1px rgba(128,128,128,0.1);
  width: 970px;
}
